.petlja-problem-box {
    position: relative;
    display: block;
    border-radius: 16px;
    box-shadow: 7px 7px 10px #cacaca;
    padding: 24px;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-stretch: normal !important;
    font-style: normal !important;
    letter-spacing: normal !important;
    color: #000;
    font-family: 'Source Sans Pro' !important
}

.petlja-problem-box .image-background {
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: .1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10 !important
}

multiple-choice{
    position: relative;
    z-index: 100 !important;
}

multiple-choice::part(check-button) {
    padding: 8px 16px;
    border-radius: 18px;
    margin-right: 10px;
    margin-top: 4px;
    float: right;
    cursor: pointer;
    background-color: #18bc9c;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid transparent;
}

multiple-choice::part(message) {
    background-color: transparent;
    color: #16b89a !important;
    border: none;
    overflow: hidden;
    padding: 10px;
}

multiple-choice::part(correct) {
    background-color: #a9e0d3;
}

multiple-choice::part(incorrect) {
    color: #f63c51 !important;
    background-color: #fcced9;
}

.petlja-problem-box div {
    overflow: hidden
}

.petlja-problem-box div,
.petlja-problem-box p {
    margin-bottom: 10px;
    z-index: 100;
    position: relative
}


.petlja-problem-box .alert-danger,
.petlja-problem-box .alert-danger:focus {
    background-color: #fcced9;
    color: #f63c51 !important;
    border: none
}

.petlja-problem-box .alert-success,
.petlja-problem-box .alert-success:focus {
    background-color: #a9e0d3;
    color: #16b89a !important;
    border: none
}

.petlja-problem-box img,
petlja-problem-box p {
    margin-top: 0;
    margin-bottom: 0
}

.petlja-problem-box-icon-holder {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute !important;
    left: calc(50% - 40px);
    top: -35px;
    background-color: inherit;
    box-shadow: 5px 5px 10px #cacaca;
    z-index: -1 !important
}

.petlja-problem-image {
    position: absolute !important
}

.petlja-problem-box img,
petlja-problem-box p {
    margin-top: 0;
    margin-bottom: 0
}


.choice-question .image-background {
    background-image:url('../_static/choice-background.svg')
  }
  .choice-question,
  .choice-question .petlja-problem-box-icon-holder {
    background-color:#d9f2ed !important
  }
  .choice-question label>span {
    margin-left:10px;
    margin-top:10px
  }
  .qchoice-image {
    left:calc(50% - 14px);
    top:-26px;
    width:31px;
  }

@media (max-width: 600px) {
    .qchoice-image {
        left: calc(50% - 13px);
        top: -32px;
        width: 27px;
        height: 45px;
    }

}